<h1>An open question</h1>
<div class="row">
  <div class="col-md-7 title">
    <div class="block">
      <%= @question.question %>
    </div>
  </div>
  <div class="col-md-5 btns block bigscreen">
    <%= link_to 'Cancel', questions_path, :class => "link-back" %>
  </div>
</div>