// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location-image {
  max-width: 282px;
  max-height: 400px;
}

.location-general {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#location-answer-table {
  background-color: white;
}

#location-answer-table thead tr{background-color: #4f4e5c; color: white;}
#location-answer-table tbody tr {background-color: #ffffff; border: none;border-left: 3px solid white;}
#location-answer-table tbody tr:hover{background-color: #f1f5f8; border: 1px solid #ccc; border-left: 3px solid #58aad9;}
#location-answer-table tr td{padding: 20px;}
table#locations .l_title{font-size: 20px;}


.location-cor {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.location-question {
  margin: 10px auto;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.question-image-answer{
  max-width: 200px;
  max-height: 200px;
}

.location-btn{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}